TELEGRAM_TOKEN="****"     # TOKEN do bot criado no telegram
OPENAI_API_KEY="****"     # API da openAI
MEU_ID_TELEGRAM="****"    # ID da sua conta telegram 
GOOGLE_CALENDAR_ID="****" # ID da sua agenda